<!-- $Id: agency_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js,../js/region.js,listtable.js"}

<div class="main-div">
 <div id="tabbar-div">
    <p>
      <span class="tab-front" id="general-tab">基本信息</span>
     
      <span class="tab-back" id="bank-tab">开户行</span>
      <!-- {if 0} -->
      <span class="tab-back" id="detail-tab">相关资质</span>
      <!-- {/if} -->
      <span class="tab-back" id="content-tab">详细描述</span>
      <!-- {if 0} -->
      <span class="tab-back" id="gallery-tab">广告轮播</span>
      <!-- {/if} -->
      
    </p>
  </div>
  <div id="tabbody-div">
<form method="post" action="suppliers.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<!--

<form method="post" action="suppliers.php" name="theForm" enctype="multipart/form-data" >-->

<table cellspacing="1" cellpadding="3" width="100%" id="general-table">
  <tr>
    <td class="label">{$lang.label_suppliers_name}</td>
    <td><input type="text" name="suppliers_name"  size="50" value="{$suppliers.suppliers_name}" />{$lang.require_field}</td>
  </tr>
  <!-- {if 0} -->
  <tr>
    <td class="label">店长姓名：</td>
    <td>  <input name="real_name" type="text" size="40" id="real_name" class="input"  value="{$suppliers.real_name}" /></td>
  </tr>
   <tr>
    <td class="label">二级域名：</td>
    <td><input name="url_name" type="text" size="10" id="url_name" class="input"  value="{$suppliers.url_name}" />.900nz.com 注：必须是3-10位字母组合而成</td>
  </tr>
  <tr>
    <td class="label">店铺类别:</td>
    <td><select name="rank_id">
      <option value="0">请选择</option>
      {html_options options=$ranks selected=$suppliers.rank_id}
    </select></td>
  </tr>
  
  {if $smarty.session.site_id eq ''}
  <tr>
    <td class="label">站点选择：</td>
    <td> 
    
    全选:
        <input type="checkbox" name="checkbox" value="checkbox"  onclick='listTable.selectAll(this, "site_id")' />
         <br />
     {if $form_action eq 'insert'}
     	 {foreach from=$site_list item=list}
         <input name="site_id[]" type="checkbox" value="{$list.id}" id='site_id' >{$list.name}&nbsp;&nbsp;
          {/foreach}
     {else}
     {$site_html}
     {/if}
    </td>
  </tr>
  {else}
  <input name="site_id[]"  type="hidden" value="{$smarty.session.site_id}">
  {/if}
   <tr>
     <tr>
    <td class="label">指定厂家：</td>
    <td> 
     {if $form_action eq 'insert'}
     	 {foreach from=$companys_list item=list}
         <input name="companys_id[]" type="checkbox" value="{$list.companys_id}">{$list.companys_name}&nbsp;&nbsp;
          {/foreach}
     {else}
     {$company_html}
     {/if}
    </td>
  </tr>
   <!-- {/if} --> 
   <tr>
                  <td  class="label">品牌logo：</td>
                  <td>

                  <input name="supp_logo" type="file"  size="40" />&nbsp;&nbsp;大小建议158像素*86像素&nbsp;&nbsp;

                  {if $suppliers.supp_logo}<a  href="./../{$suppliers.supp_logo}" target="_blank">查看</a>{/if}

                  </td>

                </tr>
<tr>
           
            <td  class="label">店铺banner：</td>
            <td>
         <input name="supp_banner" type="file"  size="40" />&nbsp;&nbsp;大小建议1200像素*200像素&nbsp;&nbsp;
          {if $supp_list.supp_banner}<a  href="./../{$suppliers.supp_banner}" target="_blank">查看</a>{/if}
            </td>
          </tr>
          
          
            <tr>
          <td class="label">经度：</td>
          <td>
          <input name="longitude" type="text" size="40" id="address"  class="input"  value="{$suppliers.longitude}"/>
          </td>
        </tr>
          <tr>
          <td class="label">纬度：</td>
          <td>
          <input name="latitude" type="text" size="40" id="latitude"  class="input"  value="{$suppliers.latitude}"/>
          </td>
        </tr>
          
          
          
           <tr>
          <td class="label">经营区域：</td>
          <td>
		<select name="province_id" id="selProvinces" onchange="region.changed(this, 2, 'selCities')">
           <option value=''>请选择</option>
             {foreach from=$provinces item=region}
               <option value="{$region.region_id}" {if $region.region_id eq $suppliers.province_id} selected="selected"{/if}> {$region.region_name}</option>
             {/foreach}
         </select>
		  <select name="city_id" id="selCities"  onchange="region.changed(this, 3, 'selDistricts')">
          <option value=''>请选择</option>
            {foreach from=$cityes item=region}
              <option value="{$region.region_id}" {if $region.region_id eq $suppliers.city_id}selected="selected"{/if}>{$region.region_name}</option>
            {/foreach}
        </select>
         <select name="district_id" id="selDistricts">
				<option value="0">请选择</option>
				{foreach from=$district_list item=district}
				<option value="{$district.region_id}" {if $district.region_id eq $suppliers.district_id}selected="selected"{/if}  >{$district.region_name}</option>
				{/foreach}
		</select> 
          </td>
        </tr>

         <tr>
          <td class="label">详细地址：</td>
          <td>
          <input name="address" type="text" size="40" id="address"  class="input"  value="{$suppliers.address}"/>
          </td>
        </tr>
         <tr>
          <td class="label">邮箱：</td>
          <td>
          <input name="email" type="text" size="40" id="email" class="input"  value="{$suppliers.email}" />
          </td>
        </tr>
        <!-- {if 0} -->
         <tr>
           <td class="label">备用邮箱</td>
           <td><input name="email1" type="text" size="40" id="email1" class="input"  value="{$suppliers.email1}" /></td>
         </tr>
         <tr>
	<!-- {/if} -->
          <td class="label">手机号码：</td>

          <td>

          <input name="phone" type="text" size="40" id="phone"   class="input"  value="{$suppliers.phone}"  />

            <span id="phone_notice" style="color:#FF0000"> *</span>

          </td>
        </tr>
        <!-- {if 0} -->
         <tr>
           <td class="label">备用手机</td>
           <td><input name="phone1" type="text" size="40" id="phone1" class="input"  value="{$suppliers.phone1}" /></td>
         </tr>
           <tr>
          <td class="label">客服QQ：</td>
          <td>
          <input name="qq" type="text"  size="40" class="input"  value="{$suppliers.qq}" />
            <span style="color:#FF0000" id="password_notice"> *</span>
          </td>
        </tr>
           <tr>
             <td class="label">推荐人：</td>
             <td>  <input name="recommend_person" type="text"  size="40" class="input"  value="{$suppliers.recommend_person}" /></td>
           </tr>
           <!-- {/if} -->
              <tr>
                <td class="label">用户名：</td>
                <td><input name="user_name" type="text" size="20"   class="input"  value="{$suppliers.user_name}"/></td>
              </tr>
              <tr>
                <td class="label">密码：</td>
                <td><input name="password" type="text" size="20"  class="input"  /></td>
              </tr>
           
</table>
<table width="90%" id="gallery-table" style="display:none">
{if $photo_list}
         {foreach from=$photo_list item=list}
					<tr id="gallery_{$list.photo_id}">
                      <td width="10">
                      
                      <a href="javascript:;" onclick="if (confirm('确定要删除吗')) dropImg('{$list.photo_id}')">[-]</a> {if $list.photo_file}{$list.photo_file},链接:{$list.link}<a  href="./../{$list.photo_file}" target="_blank">查看</a>{/if}</td>
                    </tr>                    
                    {/foreach}
{else}
	<tr id="gallery_{$list.photo_id}">
                      <td width="10">
                      http://www.900nong.com/themes/default/images/flexslider.jpg <a  href="http://www.900nong.com/themes/default/images/flexslider.jpg" target="_blank">查看</a>
     </td>
     </tr>

{/if}
</table>
<table width="90%" id="content-table" style="display:none">
 <tr>
 <td class="label">商家描述：</td>
 <td>
{$FCKeditor}

 </td>
 </tr>
</table>

<table width="90%" id="bank-table" style="display:none">
 <tr>
  <td class="label">开户行名称：</td>
  <td><input name="bank_name"  id='bank_name' type="text" class="input" value="{$supp_row.bank_name}" />可以输入50个汉字字符
    </td>
</tr>
<tr>
  <td class="label">开户行姓名：</td>
  <td><input type="text" name="bank_p_name" id='bank_p_name' class="input" value="{$supp_row.bank_p_name}" />
可以输入个10汉字或字母</td>
</tr>
     <tr>
          <td class="label">开户行账号：</td>
          <td>
            <input type="text" name="bank_account" id='bank_account' class="input"  value="{$supp_row.bank_account}" /> 可以输入20个数字
          </td>
        </tr>
 
</table>


<table width="90%" id="detail-table" style="display:none">
 <tr>
  <td class="label">营业执照：</td>
  <td><input name="business_license" type="file"  size="40" />
    {if $suppliers.business_license}<a  href="./../{$suppliers.business_license}" target="_blank">查看</a>{/if}
    </td>
</tr>
<tr>
  <td class="label">身份证：</td>
  <td><input name="cards" type="file"  size="40" />
    {if $suppliers.cards}<a  href="./../{$suppliers.cards}" target="_blank">查看</a>{/if}</td>
</tr>
     <tr>
          <td class="label">组织机构代码证：</td>
          <td>
            <input name="business_scope" id="business_scope" type="file" >
          {if $suppliers.business_scope}
          <a href="./../{$suppliers.business_scope}" target="_blank">查看</a>
          {/if}
          </td>
        </tr>
   <tr>
          <td align="right">税务登记证：</td>
          <td>
            <input name="certificate" id="certificate" type="file" >
        
          {if $suppliers.certificate}
          <a href="./../{$suppliers.certificate}" target="_blank">查看</a>
          {/if}
          </td>
        </tr>

</table>
 <div class="button-div">
    <input type="submit" class="button" value="{$lang.button_submit}" />
     <!--   <input type="button" class="button" value="{$lang.button_submit}" onclick="return validate()" />-->

      <input type="reset" class="button" value="{$lang.button_reset}" />

      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="page" value="{$page}" />
	
      <input type="hidden" name="id" value="{$suppliers.suppliers_id}" /></td>
    </div>
</form>
</div>
</div>



{literal}

<script language="JavaScript">
<!--
document.forms['theForm'].elements['suppliers_name'].focus();
function get_site_list(id)
{
  Ajax.call('suppliers.php', 'act=get_sitelist&province_id=' + id ,site_listresponse, "GET", "JSON");
	
}
function site_listresponse(result)
{
	 document.getElementById('selCities').innerHTML = result.content;
}

onload = function()

{

    // 开始检查订单

    startCheckOrder();

}

region.isAdmin = true;
document.getElementById("tabbar-div").onmouseover = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-back")
    {
        obj.className = "tab-hover";
    }
}

document.getElementById("tabbar-div").onmouseout = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-hover")
    {
        obj.className = "tab-back";
    }
}

document.getElementById("tabbar-div").onclick = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-front")
    {
        return;
    }
    else
    {
        objTable = obj.id.substring(0, obj.id.lastIndexOf("-")) + "-table";

        var tables = document.getElementsByTagName("table");
        var spans  = document.getElementsByTagName("span");

        for (i = 0; i < tables.length; i++)
        {
            if (tables[i].id == objTable)
            {
                tables[i].style.display = (Browser.isIE) ? "block" : "table";
            }
            else
            {
                tables[i].style.display = "none";
            }
        }
        for (i = 0; spans.length; i++)
        {
            if (spans[i].className == "tab-front")
            {
                spans[i].className = "tab-back";
                obj.className = "tab-front";
                break;
            }
        }
    }
}


/**

 * 检查表单输入的数据

 */



function selectshowtype(val)
{
	if(val.value =='1')
	{
		document.getElementById('show_type_html').style.display = 'none';
	}
	else
	{
		document.getElementById('show_type_html').style.display = 'block';
	}
}

function s_type(val){

		if(val=='private'){

			tab1.style.display="table-row";

			tab2.style.display="none";	

		}else if(val=='conmpany'){

			tab1.style.display="none";

			tab2.style.display="table-row";	

		}

	}

	

	

	

	

	

/**

 * 添加图片

**/

  function addImg(obj)

  {

	 

	  var src  = obj.parentNode.parentNode; 

	 

	  var idx  = rowindex(src);

      var tbl  = document.getElementById('gallery-table');

	 

      var row  = tbl.insertRow(idx + 1);

	  

      //var cell = row.insertCell(-1);

      row.innerHTML = src.innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");

	  

    

  }

  

  

  function removeImg(obj)

  {

      var row = rowindex(obj.parentNode.parentNode);

      var tbl = document.getElementById('gallery-table');

      tbl.deleteRow(row);

  }





  /**

   * 删除已上传图片

   */

  function dropImg(imgId)

  {

    Ajax.call('suppliers.php?act=drop_image', "img_id="+imgId, dropImgResponse, "GET", "JSON");

  }



  function dropImgResponse(result)

  {

      if (result.error == 0)

      {

          document.getElementById('gallery_' + result.content).style.display = 'none';

      }

  }

//-->

</script>

{/literal}

{include file="pagefooter.htm"}